
body{
    background-color: rgba(100,183,255,255);
    text-align: center;
    margin-top: 100px;
}

.signup{
    position: absolute;
    right: 800px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    width: 320px;
    padding: 10px;
    border: 2px solid gray;
    margin-top: 100px;
    margin-left: 250px;
}

.button {
    height: 30px;
    width: 300px;
    background-color: blue;
    color: white;
    
    
}

.round {
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
}
.header {
    position: absolute;
    height: 125px;
    width: 100%;
    bottom: 830px;
    left: 1px;
    background-color: white;
}
.navLink{
    position: relative;
    top: 80px;
    background-color: blue;
    color: white;
    float: right;
    padding: 0.5rem 1rem; 
    text-decoration: none;
    margin-right: 0.5rem;
    border-radius: 5px;
}